.app{
    .builder{
        display: flex;
        padding: 3em 2em;

        .builder-item{
            flex: 1;
            min-height: 80vh;
            border: 1px solid black;
        }

        .occupation{
            display: flex;
            flex-direction: column;

            .occupation-item{
                display: flex;
                min-height: 6vh;
                align-items: center;
                border-bottom: 1px solid gray;
                font-size: 22px;
            }
        }

        .traits{
            display: flex;
            flex-direction: column;
            gap: 1em;
            .traits-item{
                flex: 1;

            }
        }
        .chosen{
            display: flex;
            flex-direction: column;
            gap: 1em;
            .chosen-item{
                flex: 1;
            }
        }
    }
}