@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.app{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(/src/assets/background.jpg);
    color: white;
    min-height: 100vh;
    background-color: #333131a1;
    font-family: 'Volkhov', serif;
    overflow: hidden;

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #383737;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555;
  }


    .header{
        display: flex;
        justify-content: center;
        font-size: 42px;
        padding-top: 0.5em;
        text-align: justify;
    }

    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        background: #141414a1;
        font-size: 14px;
        padding: 2px;


        a{
            margin: 0px 5px;
            text-decoration: none !important;
            cursor: pointer !important;
            color: rgba(206, 120, 22, 0.527);
        }
    }

    .desc{
        position: absolute;
        z-index: 2;
        display: flex;
        border: 1px solid black;
        color: white;
        background-color: rgb(19, 16, 16, 0.5);
        max-width: 120px;
        pointer-events: none;
        padding: 0.5em;
    
    }

    .points{
        display: flex;
        justify-content: flex-end;
        margin-right: 6em;
        gap: 1em;
        font-size: 24px;
        position: sticky;
    }

    .builder{
        display: flex;
        padding: 2em 10em 1em;
        gap: 2em;

        .builder-item{
            flex: 1;
            max-height: 80vh;
            min-height: 0;
            min-width: 230px;
            overflow-x: hidden;
            
        }

        .occupation{
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            border: 1px solid gray;
            background-color: rgba(39, 38, 38, 0.719);


            .occupation-item{
                display: flex;
                min-height: 8vh;
                align-items: center;
                border-bottom: 1px solid gray;
                font-size: 20px;
                padding-left: 5px;
            }
        }

        .traits{
            display: flex;
            flex-direction: column;
            gap: 2em;

            .traits-item{
                display: flex;
                flex-direction: column;
                flex: 1;
                background-color: rgba(39, 38, 38, 0.719);
            }
        }

        .chosen{
            display: flex;
            flex-direction: column;
            gap: 2em;

            .chosen-item{
                display: flex;
                flex-direction: column;
                flex: 1;
                border: 1px solid gray;
                min-height: 0;
                background-color: rgba(39, 38, 38, 0.719);

                .chosen-header{
                    border-bottom: 1px solid gray;
                    padding: 10px 20px;
                }

                .chosen-container{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                }


                .chosen-container-item{
                    display: flex;
                    padding: 0.5em;
                    color: rgb(58, 197, 58);
                    border-bottom: 1px solid gray;

                    .chosen-item-name{
                        flex: 2;
                    }
                    .chosen-item-value{
                        flex: 1;

                    }
                    .chosen-item-percent{
                        flex: 1;

                    }

                }

            }
        }

        .positive{
            display: flex;
            flex-direction: column;
            min-height: 0;
            border: 1px solid gray;

            .positive-header{
                display: flex;
                justify-content: space-between;
                padding: 10px 20px;
            }

            .positive-container{
                display: flex;
                flex-direction: column;
                overflow-y: scroll;
                border-top: 1px solid gray;



                
                .positive-item{
                    display: flex;
                    justify-content: flex-start;
                    padding: 0.5em;
                    color: rgb(58, 197, 58);
                    font-size: 16px;
                    font-weight: 600;
                    border-bottom: 1px solid gray;

                    .positive-item-name{
                    margin-left: 10px;
                    margin-right: auto;
                    }
                }
            }
        }
        .negative{
            display: flex;
            flex-direction: column;
            min-height: 0;
            border: 1px solid gray;

            .negative-container{
                display: flex;
                flex-direction: column;
                overflow-y: scroll;


                
                .negative-item{
                    display: flex;
                    justify-content: flex-start;
                    padding: 0.5em;
                    color: rgb(202, 24, 24);
                    font-size: 16px;
                    font-weight: 600;
                    border-bottom: 1px solid gray;

                    .negative-item-name{
                    margin-left: 10px;
                    margin-right: auto;
                    }
                }
            }
        }
    }

    .selected-container{
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        min-height: 0;


        .selected-item{
            display: flex;
            justify-content: flex-start;
            padding: 0.5em;
            font-size: 16px;
            font-weight: 600;
            border-bottom: 1px solid gray;

            .selected-item-name{
                margin-left: 10px;
                margin-right: auto;
                }
        }
    }

    .highlight{
        background-color: rgba(206, 120, 22, 0.295);
    }

    .green{
        color: rgb(58, 197, 58) !important;
    }
    .red{
        color: rgb(202, 24, 24) !important;
    }
    
}

@media screen and (max-width: 1024px){
    .footer {
        display: none !important;
    }
    .builder {
        padding: 1em !important;
    }
    .header {
        font-size: 26px !important;
    }

}

@media screen and (max-height: 768px){
    .footer {
        display: none !important;
    }
    .builder {
        padding: 1em !important;
    }
    .header {
        font-size: 26px !important;
    }


}