.app{

    .points{
        display: flex;
        justify-content: flex-end;
        margin-right: 6em;
        gap: 1em;
    }

    .builder{
        display: flex;
        padding: 3em 2em 1em;
        gap: 2em;

        .builder-item{
            flex: 1;
            max-height: 80vh;
            min-height: 0;
        }

        .occupation{
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            border: 1px solid gray;


            .occupation-item{
                display: flex;
                min-height: 8vh;
                align-items: center;
                border-bottom: 1px solid gray;
                font-size: 20px;
                padding-left: 5px;
            }
        }

        .traits{
            display: flex;
            flex-direction: column;
            gap: 2em;

            .traits-item{
                display: flex;
                flex-direction: column;
                flex: 1;

            }
        }

        .chosen{
            display: flex;
            flex-direction: column;
            gap: 2em;

            .chosen-item{
                display: flex;
                flex-direction: column;
                flex: 1;
                border: 1px solid gray;
                min-height: 0;

                .chosen-header{
                    border-bottom: 1px solid gray;
                    padding: 10px 20px;
                }

                .chosen-container{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                }


                .chosen-container-item{
                    display: flex;
                    padding: 0.5em;
                    color: green;
                    border-bottom: 1px solid gray;

                    .chosen-item-name{
                        flex: 2;
                    }
                    .chosen-item-value{
                        flex: 1;

                    }
                    .chosen-item-percent{
                        flex: 1;

                    }

                }

            }
        }

        .positive{
            display: flex;
            flex-direction: column;
            min-height: 0;
            border: 1px solid gray;

            .positive-header{
                display: flex;
                justify-content: space-between;
                padding: 10px 20px;
            }

            .positive-container{
                display: flex;
                flex-direction: column;
                overflow-y: scroll;
                border-top: 1px solid gray;



                
                .positive-item{
                    display: flex;
                    justify-content: flex-start;
                    padding: 0.5em;
                    color: green;
                    font-size: 16px;
                    font-weight: 600;
                    border-bottom: 1px solid gray;

                    .positive-item-name{
                    margin-left: 10px;
                    margin-right: auto;
                    }
                }
            }
        }
        .negative{
            display: flex;
            flex-direction: column;
            min-height: 0;
            border: 1px solid gray;

            .negative-container{
                display: flex;
                flex-direction: column;
                overflow-y: scroll;


                
                .negative-item{
                    display: flex;
                    justify-content: flex-start;
                    padding: 0.5em;
                    color: red;
                    font-size: 16px;
                    font-weight: 600;
                    border-bottom: 1px solid gray;

                    .negative-item-name{
                    margin-left: 10px;
                    margin-right: auto;
                    }
                }
            }
        }
    }

    .selected-container{
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        min-height: 0;


        .selected-item{
            display: flex;
            justify-content: flex-start;
            padding: 0.5em;
            font-size: 16px;
            font-weight: 600;
            border-bottom: 1px solid gray;

            .selected-item-name{
                margin-left: 10px;
                margin-right: auto;
                }
        }
    }

    .highlight{
        background-color: gray;
    }

    .green{
        color: green !important;
    }
    .red{
        color: red !important;
    }
    
}